* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-beige: #F5F5DC;
  --background-color: #121212;
  --primary-color: #1C1C1C;
  --links-color: #FF6F61;
  --text-color: #F5F5DC;
  --secondary-color: #ffebcd;
  --highlight-color: #FFD700; /* Add a highlight color for effects */
  --shadow-color: rgba(0, 0, 0, 0.5); /* Shadow color */
}

@font-face {
  font-family: 'Fredoka';
  src: url('../assets/fonts/Fredoka-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 100 900; /* Allows for multiple weights */
  font-display: swap; 
}



body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Fredoka', 'Arial', 'Helvetica', sans-serif; /* List fallback fonts */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Fredoka', 'Arial', 'Helvetica', sans-serif;
  color: var(--light-beige); /* Heading color */
  text-shadow: 1px 1px var(--shadow-color); /* Text shadow for depth */
}

a {
  text-decoration: none;
  color: var(--links-color); /* Soft Coral for links */
}

button {
  background-color: var(--links-color); /* Soft Coral for buttons */
  color: var(--light-beige); /* Light Beige for button text */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

a:hover {
  color: var(--highlight-color); /* Change on hover */
}

/* Button Styles */
button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--links-color);
}